<html>
    <head>
        <style>
            form {text-align: center;}
            textarea {text-align: justify;}
            button {text-align: center;}
            div.content_text {text-align: center;}
            img.image {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 20%;
                        height: 20%;
                        }

        </style>
    </head>
    <title>Word Count</title>
    
    <body>
        
        <img class = "image" src="https://wordcounter.net/images/word-counter.jpg" alt="word-counter" width="100" height="100"><br><br>
        <div class="Home">
            <form action="/action", method = "post">
                <textarea rows="15" cols="70" name="paragraph" placeholder="Type or paste"></textarea>
                <br><br>   <button type="submit">Submit</button>
            </form>
        </div>
    <div class="content">
        <div class="content_text">
            <p style="text-align: center;">Enter (by typing directly or using copy paste) your text and find out how many words and characters it contains.</p>
        </div>
    </div>
                
    </body>
</html>